name: Actions Dependencies Scan

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

permissions: {}

jobs:
  actions-dependencies-submit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6.0.2
        with:
          persist-credentials: false

      - name: Submit Actions dependencies
        uses: jessehouwing/actions-dependency-submission@d5d97f43a451c53ea77345a89aedfdb32e27eae6 # ratchet:jessehouwing/actions-dependency-submission@v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  action-dependencies-review:
    if: github.event_name == 'pull_request'
    needs: actions-dependencies-submit
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6.0.2
        with:
          persist-credentials: false

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # ratchet:actions/dependency-review-action@v4.8.2
        with:
          fail-on-severity: high,critical
          comment-summary-in-pr: always
          warn-only: false
