name: Chainguard Digestabot Check

on:
  workflow_call:

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # ratchet:actions/checkout@v5
        with:
          persist-credentials: false
      - uses: navikt/digestabot@6c419f9c92ce6a841d25d44e1f91ae8d371ecdd3 # ratchet:navikt/digestabot@v1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          team: okonomi
