name: Chainguard Digestabot Check

on:
  workflow_call:

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          persist-credentials: false
      - uses: navikt/digestabot@6c419f9c92ce6a841d25d44e1f91ae8d371ecdd3 # ratchet:navikt/digestabot@v1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          team: okonomi
