name: Digestabot Check

on:
  workflow_call:
    inputs:
      team:
        description: 'Team name for digestabot'
        required: true
        type: string

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # ratchet:actions/checkout@v5
        with:
          persist-credentials: false
      - uses: navikt/digestabot@07cb8ac331b0b06bc0b30a7415587fb63b919608 # ratchet:navikt/digestabot@v1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          team: ${{ inputs.team }}
