name: Assemble application & build/push image

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        description: Java version to build with
        default: "21"
      gradle-task:
        required: false
        type: string
        description: Gradle task to run
        default: "./gradlew installDist --configuration-cache"
      docker-context:
        required: false
        type: string
        description: Path to the Docker build context
        default: "."
      dockerfile:
        required: false
        type: string
        description: Path to the Dockerfile
        default: "Dockerfile"
      image-tag:
        required: false
        type: string
        description: Docker image tag
        default: "latest"
      image-suffix:
        required: false
        type: string
        description: Suffix to append to the image tag
        default: ""
    outputs:
      image:
        description: Google Artifact Registry image
        value: ${{ jobs.assemble-application-build-push-image.outputs.image }}

jobs:
  assemble-application-build-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # ratchet:actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ inputs.java-version }}

      - name: Build application
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # ratchet:gradle/actions/setup-gradle@v5
        env: # Eksluder test dependencies
          DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: compileClasspath|runtimeClasspath
        with:
          dependency-graph: generate-and-submit

      - name: Run gradle task
        env:
          GRADLE_TASK: ${{ inputs.gradle-task }}
        run: $GRADLE_TASK

      - name: Push Docker Image to GAR
        uses: nais/docker-build-push@791ebb6f74b82849c742a9bc9c97abe44c6c111f # ratchet:nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: okonomi
          dockerfile: ${{ inputs.dockerfile }}
          docker_context: ${{ inputs.docker-context }}
          image_suffix: ${{ inputs.image-suffix }}
          tag: ${{ inputs.image-tag }}

    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
