name: Deploy Unleash

on:
  workflow_call:
    inputs:
      resource:
        required: true
        type: string
        description: Unleash resource to use for deployment
      cluster:
        required: false
        type: string
        description: NAIS cluster to deploy to

jobs:
  deploy-unleash:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - name: Deploy to NAIS
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: ${{ inputs.resource }}
          TIMEOUT: 10m
          PRINT_PAYLOAD: true
