name: zizmor Schedule Scan

on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

permissions:
  security-events: write

jobs:
  zizmor-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # ratchet:astral-sh/setup-uv@v7.1.6

      - name: Perform zizmor analysis
        run: uvx zizmor --format=sarif . > results.sarif
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zizmor analysis results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@267c4672a565967e4531438f2498370de5e8a98d # ratchet:github/codeql-action/upload-sarif@codeql-bundle-v2.23.7
        with:
          sarif_file: results.sarif
          category: zizmor
